*.iml
target/
.idea/
.svn/
*.log
.classpath
.settings/
*.DS_Store

web/dist
web/generate
web/node_modules
web/npm-debug.log
web/server.json

.DS_Store
*/.DS_Store
src/main/resources/application.properties
