<div>
	<div class="main-content-head"><h4>XX银行</h4></div>

	<div class="main-content-body">
		<div class="report-head">
			<div class="report-head-item">
				<label>账户</label>
				<select>
					<option value ="1">123456</option>
					<option value="2">123456</option>
					<option value="3">123456</option>
				</select>
			</div>

			<div class="report-head-item">
				<label>账户名称</label>
				XX帐户
			</div>

			<div class="report-head-item">
				<label>日期</label>
				<a href="#monthpicker" id="monthpicker"></a>
			</div>
		</div>

		<div class="report-body">
			<table>
				<thead>
					<tr>
						<th>报表类型</th>
						<th>报表名称</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>表 1-1</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-2</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-3</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-4</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-5</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-6</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
					<tr>
						<td>表 1-7</td>
						<td>XXXXXX</td>
						<td>已生成</td>
						<td><button>生成</button><button>下载</button><button>报送</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>